name: Lint and Validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: ShellCheck
      uses: ludeeus/action-shellcheck@master
      with:
        scandir: './bin ./scripts'
        
    - name: Validate Docker Compose
      run: docker compose config -q
